#gameboard {
    background-color: rgb(225, 225, 225);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(50, 1fr);
}

.gridBox {
    width: 100%;
    height: 100%;
    border: .1px solid black;
}

.playerSquare {
    background-color: blue;
    width: 100%;
    height: 100%;
}

#GameEnvironment {
    background-color: rgb(180, 170, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}